build
recording/*
dataSetPreparing/*
pyYTdownload.py
*.pyc
__pycache__/*
dist/*
venv
*.pyc
dist/*
*.csv
data/*
.env
*.bin
*.pdf
## Guarda tus propios datos aquí, tu calibración debe de ser unica :)
Windows/src/saved/*
#   !Windows/src/saved/output/
examples/.pkl/*